.footer {
    width: 100%;
}

upload-area {
    display: block;
    &.first {
        margin-bottom: 15px;
    }
}

.box {
    padding: 15px 15px 20px;
    border: solid 1px #75d0ee;
    background-color: #f2fbfd;
    display: flex;

    &>i {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: #00a9e0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-right: 15px;
    }

    main {
        flex: 1;

        h3 {
            margin-top: 0;
        }

        adesa-ui-button {
            display: inline;
            width: auto;
            padding-left: 20px;
            padding-right: 20px;

            i {
                font-size: 120%;
            }
        }

        @media (min-width: 767px) {
            display: flex;
            justify-content: space-between;

            button {
                flex: 0 0 250px;
                margin-left: 15px;
            }
        }
    }
}